@charset 'UTF-8';
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --fonte: 'Roboto', sans-serif;
    --fonte-color: white;
    --primary-color: #23374D;
    --background-body: #202031;
    --tertiary-color: #D8E6EC;
    --hover-color: #d6e6ee;
    --background-title-color: #007AB5;
    --card-color: white;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--background-body);
    font-family: var(--fonte);
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

*body {
    box-sizing: border-box;
}

.card {
    background-color: var(--card-color);
    display: flex;
    width: 60vw;
    height: 85vh;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px white;
}

.todo {
    display: flex;
    width: 50vw;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 15px;
    min-height: 100%;
    position: relative;
}

.todo_title {
    margin-top: 50px;
    display: flex;
    background-color: var(--background-title-color);
    width: 100%;
    height: 80px;
    color: var(--fonte-color);
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.473);
    font-size: 4rem;
    border-radius: 10px;

}

.todo_list {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.todo_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    width: 100%;
    height: 60px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.363);
    border-radius: 10px;
}

.todo_item > div {
    width: 80%;
}

.todo_item:hover {
    cursor: pointer;
    transition: all .5s ease;
    background-color: var(--hover-color);
    color: var(--primary-color);
}

.todo_item > input[type='text'] {
    border: none;
    width: 80%;
    font: inherit;
}

.todo_item > input[type='button'], .todo_item > input[type='checkbox'] {
    width: 30px;
    height: 30px;
    font: inherit;
}

.todo_item > input[type='checkbox']:checked + div {
    text-decoration: line-through;
}

.todo_new-item {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--tertiary-color);
    width: 100%;
    height: 70%;
    padding: 10px 0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.404);
    margin: 10px;
    font: inherit;
    border-radius: 5px;
}

.todo_new-item > input {
    background-color: var(--tertiary-color);
    border: none;
    width: 80%;
    height: 30px;
    outline: none;
    font: inherit;
}

.todo_new-item > input::placeholder {
    font-style: italic;
    font-weight: normal;
}

footer {
    background-color: var(--background-title-color);
    color: var(--primary-color);
    bottom: 0;
    left: 0;
    height: 40px;
    position: fixed;
    width: 100%;
    font-size: 0.7em;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}



